/* line 7, /Users/tadokoromidzuho/nekopict/app/assets/stylesheets/custom.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, /Users/tadokoromidzuho/nekopict/app/assets/stylesheets/custom.scss */
#grid {
  width: 900px;
}

/* line 15, /Users/tadokoromidzuho/nekopict/app/assets/stylesheets/custom.scss */
li {
  margin: 5px;
  float: left;
  list-style: none;
}
