
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ねこぴくと</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

<% if @imgs.present? %>
  <%= stylesheet_link_tag "custom", :media => "all" %>

  <h2>検索結果</h2>
  <ul>
    <% @imgs.each_with_index do |img, i| %>
    <div id="grid">
      <li><%= tweet.contents %> </li>
    </div>
    <% end %>
  </ul>
<% end %>

</body>
</html>
