// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



* {
	margin: 0;
	padding: 0;
}

#grid {
	width: 900px;
}
li {
	margin: 5px;
	float: left;
	list-style: none;
}
