// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form-control {
  height: 45px;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('file:///C:/Users/tadokoromidzuho/Downloads/p0026_m.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 220px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}
