<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ねこぴくと</title>
    <h1>サビ猫の写真！</h1><br>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

<% word = "シャム猫"+" exclude:retweets" %>
<% @client.search(word, :result_type => "recent", :include_entities => true).each do |tweet| %>
    <% tweet.media.each do |media| %>



        <%= image_tag(media.media_url,:size => "300x300") %>
    <% end %>
<% end %>
</body>
